// Colors
$primary-color: #0d253f;
$secondary-color: #01b4e4;
$tertiary-color: #90cea1;
$white: #ffffff;
$rating-color: #ffd700;

// HEX Colors
$primary-hex-code: 13, 37, 63;
$secondary-hex-code: 1, 180, 228;
$tertiary-hex-code: 144, 206, 161;

// Font
$font-family: "Roboto", sans-serif;
$font-size: 1em;
