<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        src="https://image.tmdb.org/t/p/original/r9PkFnRUIthgBp2JZZzD380MWZy.jpg"
        alt=""
      />
      <div class="slider-pane">
        <h2 class="name">Puss in Boots: The Last Wish</h2>
        <div class="meta">
          <div class="info">
            <span class="rating">
              <span>star</span>
              <span class="rating-value"> 7.5 </span>
              <span>/10</span>
              <span>463 Reviews</span>
              <span>2021</span>
            </span>
          </div>
        </div>
        <div class="slide-description">
          Puss in Boots discovers that his passion for adventure has taken its
          toll: He has burned through eight of his nine lives, leaving him with
          only one life left. Puss sets out on an epic journey to find the
          mythical Last Wish and restore his nine lives.
        </div>
      </div>
    </div>
  </div>
</div>
