@import "theme/theme-base";
@import "theme/theme-variables";
@import "theme/theme-header";
@import "theme/theme-footer";
@import "theme/theme-slide";
@import "theme/theme-icon";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import "~primeflex/primeflex.css";

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $secondary-color;
}

a {
  text-decoration: none;
  color: $primary-color;
}
